@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: auto;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
}

/*nav*/
.container nav,
header.surge-main,
section.surge-courses {
    padding: 0 72px;
}
.container nav ul{
  display: flex;
  height: 100px;
  list-style-type: none;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.container nav ul li {
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
}

/*header*/
.surge-main {
  display: flex;
  justify-content: center;
  width: 700;
  margin-bottom: 70px;
}

.surge-main img {
  width: 800px;
  height: 400px;
}

section.course-row ul {
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

section.course-row ul li{
  height: 50px;
  line-height: 50px;
  margin: 30px;
}

p {
  margin-left: 180px;
}
