@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: auto;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
}

/*nav*/
.container nav {
    padding: 0 72px;
}
.container nav ul{
  display: flex;
  height: 100px;
  list-style-type: none;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.container nav ul li {
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
}

section.profile-card {
  height: 300px;
  width: 300px;
  margin: 100px;
  text-align: center;
  float: left;
}

section.profile-information {
  margin: 20px;
}

section.profile-information h3 {
  margin-bottom: 20px;
}

section.courses-in-progress {
  list-style-type: none;
  float: left;
  display: flex;
  justify-content: center;
  margin: 100px;
}

section.courses-in-progress ul li {
  margin: 30px;
}
