extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .course-page
    section.non-nav
      section.side-bar
        ul
          li 1.1 Eh' Brah
          li 1.2 Choke Grindz
          li 1.3 Pau Work?
          li 1.4 Shootz
          li 1.5 Like Beef?
          li 1.6 Da Kine Ah?
          li 1.7 Rajah Dat
          li 1.8 Aunty!
          li 1.9 Tanks Ah
          li 1.10 Cheehoo!
      section.lesson
        video#video(width='850', height='500', controls='')
          source#video-source(src='https://dl.dropboxusercontent.com/content_link/7CPoeTUT6i7fiK76PsmRWSjScOj1nCemQIlvHYRp5zGMCkcFXKfRX2uqOqMgKzOB/file')
        #question
      section.temperature-bar
        #temperature
      section.arrow
        img(src='sample-arrow.png', alt='arrow', height='20', width='20')
      script(src='/js/lib/popcorn.min.js')
      script(src='/js/client.js')
