extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .course-page
    section.non-nav
      section.side-bar
        ul
          li Eh' Brah
          li Choke Grindz
          li Pau Work?
          li Shootz
          li Like Beef?
          li Da Kine Ah?
          li Rajah Dat
          li Aunty!
          li Tanks Ah
          li Cheehoo!
      section.lesson
        video#video(width='850', height='500', controls='')
          source#video-source(src='/assets/videos/howzit.mp4')
        #question
      section.temperature-bar
        section.inner-bar
        #temperature
          #inner-bar
      script(src='/js/lib/popcorn.min.js')
      script(src='/js/client.js')
