extends ../layouts/mainLayout

block navigation
  .home-page
    include ../partials/navBar

block content
  .course-page
    section.profile-card
      section.profile-image
        img(src='/assets/imgs/sean.jpg', height='300', width='300' alt='')
      section.profile-information
        h3 Sean Nakamura
        p
          | Hi! I'm a mentor at Dev League in Hawaii and I love to code. My first goal is to learn how to speak pidgin. 
    section.courses-in-progress
      ul
        li
          a(href='/course') How to Pidgin
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/course') Conversation with a Friend
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/course') Interview
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/course') Workplace Conversation
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/course') Culture in Asia
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
