extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .course-page
    section.profile-card
      section.profile-image
        img(src='https://dl.dropboxusercontent.com/content_link/NQxcGXIG9Kw6F3WBS89azmlRvKRkEZBEopy8jDeGfqyDfX1Nyq6khcwtMrMYeHyn/file', height='100', width='100' alt='')
      section.profile-information
        h3 Sean Nakamura
        p
          | Hi! I'm a mentor at Dev League in Hawaii and I love to code. My first goal is to learn how to speak pidgin.
    section.courses-in-progress
      ul
        li
          a(href='/course') How to Pidgin
          div.progress
            div#inner-progress
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Conversation with a Friend
          div.progress
            div#inner-progress1
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Interview
          div.progress
            div#inner-progress2
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Workplace Conversation
          div.progress
            div#inner-progress3
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Culture in Asia
          div.progress
            div#inner-progress4
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Cashier
          div.progress
            div#inner-progress5
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Feedback
          div.progress
            div#inner-progress6
        li.special
          div.movie
          div.movie
          div.movie
          div.movie
          div.movie
        li
          a(href='/course') Working Together
          div.progress
            div#inner-progress7
