extends ../layouts/mainLayout

block navigation
  include ../partials/navBar

block content
  .course-page
    section.profile-card
      section.profile-image
        img(src='/assets/imgs/grey-placeholder.jpg', alt='')
      section.profile-information
        h3 First Name Last Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quia, iure. Ipsa, impedit facilis. Eaque aperiam amet ratione animi perspiciatis quibusdam. Voluptatem, similique velit accusamus culpa sit excepturi? Ex, dolorum!
    section.courses-in-progress
      ul
        li
          a(href='/') 1.1 Talking in the Workplace
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/') 1.1 Talking in the Workplace
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/') 1.1 Talking in the Workplace
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/') 1.1 Talking in the Workplace
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
        li
          a(href='/') 1.1 Talking in the Workplace
          img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='350', alt='p')
