nav
  ul
    li#logo
      a(href='../index.html') Logo
    li#gear
      img(src='grey-placeholder.jpg', height='50', width='50', alt='p')
    li#me
      a(href='../surge-course-page/index.html') Me
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='blank-circle.png', alt='blank-circle', width='20', height='20')
