nav.navBarCourse
  ul
    li#logo
      a(href='/') Logo
    li#gear
      img(src='/assets/imgs/grey-placeholder.jpg', height='50', width='50', alt='p')
    li#me
      //- TODO update
      a(href='../surge-course-page/index.html') Me
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')
    li.circle
      img(src='/assets/imgs/blank-circle.png', alt='blank-circle', width='20', height='20')