nav.navBarCourse {
  padding: 0 72px; }
  nav.navBarCourse ul {
    display: flex;
    height: 70px;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid black; }
  nav.navBarCourse li {
    height: 50px;
    line-height: 50px;
    margin: 0 30px; }
  nav.navBarCourse a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Lato', sans-serif; }

.analytics {
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; }
  .analytics .canvas {
    height: 500px;
    width: 500px;
    margin-left: 200px;
    display: flex;
    justify-content: center; }
  .analytics .category {
    height: 500px;
    width: 200px;
    border-right: 0.2px solid grey;
    overflow: scroll;
    display: flex;
    justify-content: center; }
    .analytics .category ul {
      list-style-type: none;
      width: 300px; }
    .analytics .category li {
      width: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      margin-bottom: 30px;
      border-bottom: 1px grey;
      border-bottom-style: inset;
      padding: 10px;
      color: black;
      font-family: 'Lato', sans-serif; }
    .analytics .category a {
      font-family: 'Lato', sans-serif; }

nav.navBarCourse {
  padding: 0 72px; }
  nav.navBarCourse ul {
    display: flex;
    height: 70px;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid grey; }
  nav.navBarCourse li {
    height: 50px;
    line-height: 50px;
    margin: 0 30px; }
  nav.navBarCourse a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Lato', sans-serif; }

.course-page section.non-nav {
  display: flex;
  justify-content: center; }

.course-page .side-bar {
  width: 250px;
  height: 479px;
  overflow: scroll;
  margin-right: 30px;
  margin-top: 10px; }

.course-page ul {
  list-style-type: none; }

.course-page li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
  border-bottom: 1px grey;
  border-right: 1px grey;
  border-bottom-style: inset;
  padding: 10px;
  color: black;
  font-family: 'Lato', sans-serif; }

.course-page a {
  font-family: 'Lato', sans-serif; }

.course-page #temperature {
  width: 40px;
  height: 479px;
  margin-left: 30px;
  background: #4fc4b1; }

.course-page #inner-bar {
  width: 40px;
  height: 220px;
  background-color: #464646; }

.course-page #question {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px; }

.course-page button {
  height: 50px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  border-radius: 500px;
  font-size: 18px;
  background-color: #4fc4b1;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif; }

.course-page section.profile-card {
  height: 505px;
  width: 330px;
  margin-left: 100px;
  text-align: center;
  float: left;
  border-right: 1px solid gray; }

.course-page h3 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  margin-right: 20px; }

.course-page p {
  font-family: 'Lato', sans-serif;
  margin-right: 20px; }

.course-page section.courses-in-progress {
  height: 500px;
  margin-right: 120px;
  overflow: scroll; }

.course-page ul {
  list-style-type: none; }

.course-page li {
  display: flex;
  justify-content: space-between; }

.course-page a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: 'Lato', sans-serif;
  margin-left: 70px; }

.course-page .progress {
  background-color: rgba(70, 70, 70, 0.2);
  height: 30px;
  width: 350px;
  margin-right: 30px; }

.course-page #inner-progress {
  background-color: #4fc4b1;
  height: 30px;
  width: 120px;
  margin-right: 30px; }

.course-page img {
  border-radius: 500px;
  object-fit: cover;
  margin-right: 20px; }

.home-page {
  /*nav*/
  /*header*/
  /*video*/ }
  .home-page .container {
    height: 1000px;
    width: auto;
    font-size: 18px;
    background-color: white;
    font-family: 'Lato', sans-serif; }
  .home-page nav.navBar,
  .home-page header.surge-main,
  .home-page section.surge-courses {
    padding: 0 72px; }
  .home-page nav ul {
    position: relative;
    z-index: 2;
    height: 70px;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 72px;
    width: auto; }
  .home-page nav ul li {
    position: relative;
    z-index: 3;
    height: 50px;
    line-height: 50px;
    margin: 0 30px;
    text-decoration: none;
    list-style-type: none; }
  .home-page a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: 'Lato', sans-serif; }
  .home-page .surge-main {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; }
  .home-page video {
    z-index: 1;
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0; }
  .home-page .overlay {
    position: relative;
    z-index: 5;
    height: 300px;
    width: 330px;
    color: white;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif; }
  .home-page #sign-up {
    margin-top: 80px;
    height: 50px;
    width: 150px;
    border-radius: 500px;
    font-size: 18px;
    background-color: #4fc4b1;
    border: none;
    color: white; }
