extends layouts/mainLayout

block content
  header.surge-main
    h1 reef

  section.surge-courses
    section.course-row
      p Featured Courses
      ul
        li
          img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
        li
          img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
        li
          img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
        li
          img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
    section.popular-course-container
      section.course-row
        p Popular Courses
        ul
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
      section.course-row
        ul
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
          li
            img(src='/assets/imgs/grey-placeholder.jpg', height='150', width='175', alt='p')
