@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
}

/*link stylings*/
a {
  text-decoration: none;
}

header {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container {
  height: auto;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
}

/*video*/
.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*nav*/
.container nav,
header.surge-main,
section.surge-courses {
    padding: 0 72px;
}
.container nav ul{
  display: flex;
  height: 100px;
  list-style-type: none;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.container nav ul li {
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
}

/*header*/
.surge-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 70px;
}

section.course-row ul {
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

section.course-row ul li{
  height: 50px;
  line-height: 50px;
  margin: 30px;
}

p {
  margin-left: 180px;
}
