nav.navBarCourse {
  padding: 0 72px;

  ul{
    display: flex;
    height: 70px;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid grey;
  }
    li {
      height: 50px;
      line-height: 50px;
      margin: 0 30px;
    }

      a {
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-family: 'Lato', sans-serif;
      }
}

.course-page {

  section.non-nav {
    display:flex;
    justify-content: center;
  }

    .side-bar {
      width: 250px;
      height: 479px;
      overflow: scroll;
      margin-right: 30px;
      margin-top: 10px;
    }

      ul {
        list-style-type: none;
      }

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          margin-bottom: 30px;
          border-bottom: 1px grey;
          border-right: 1px grey;
          border-bottom-style: inset;
          // background-color: rgb(113, 202, 208);
          padding: 10px;
          color: black;
          font-family: 'Lato', sans-serif;
        }

          a {
            font-family: 'Lato', sans-serif;
          }

    #temperature {
      width: 40px;
      height: 479px;
      margin-left: 30px;
      background: rgba(79, 196, 177, 1);
      // background: -webkit-linear-gradient(rgb(24, 73, 71), rgb(159, 223, 218));
      // background: -o-linear-gradient(rgb(24, 73, 71), rgb(159, 223, 218);
      // background: -moz-linear-gradient(rgb(24, 73, 71), rgb(159, 223, 218);
      // background: linear-gradient(rgb(24, 73, 71), rgb(159, 223, 218);
    }

      #inner-bar {
        width: 40px;
        height: 220px;
        background-color: rgba(70, 70, 70, 1);
      }
    #question {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
    }

      button {
        height: 50px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100px;
        border-radius: 500px;
        font-size: 18px;
        background-color: rgb(79, 196, 177);
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
      }

}
