.course-page {
  section.profile-card {
    height: 300px;
    width: 300px;
    margin-left: 100px;
    text-align: center;
    float: left;
  }

  section.profile-information {
    margin-left: 60px;
  }

    h3 {
      margin-bottom: 20px;
      font-family: 'Lato', sans-serif;
    }

    p {
      font-family: 'Lato', sans-serif;
    }

  section.courses-in-progress {
    float: right;
    display: flex;
    justify-content: center;
    margin-right: 120px;
  }

    ul {
      list-style-type: none;
      margin-right: 40px;
    }

      li a {
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-family: 'Lato', sans-serif;
      }


        img {
          margin-left: 30px;
          border-radius: 500px;
        }
}
