.course-page {
  section.profile-card {
    height: 505px;
    width: 330px;
    margin-left: 100px;
    text-align: center;
    float: left;
    border-right: 1px solid gray;
  }

  h3 {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
  }

  p {
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
  }

  section.courses-in-progress {
    height: 500px;
    margin-right: 120px;
    overflow: scroll;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

    a {
      text-decoration: none;
      list-style-type: none;
      color: black;
      font-family: 'Lato', sans-serif;
      margin-left: 70px;
    }

    .progress {
      background-color: rgba(70, 70, 70, 0.2);
      height: 30px;
      width: 350px;
      margin-right: 30px;
    }

  img {
    border-radius: 500px;
    object-fit: cover;
    margin-right: 20px
  }
}
