extends ../layouts/mainLayout

block navigation
  .home-page
    include ../partials/navBar

block content
  .home-page
    header#header.surge-main
      .overlay
        h1#title interactive
        a(href='signup/index.html')
        button#sign-up signup
      .fullscreen-bg
        video#home-video.fullscreen-bg-video(muted='', autoplay='')
          source#homey(src='https://dl.dropboxusercontent.com/content_link/oXjhF2drwmSWTO7uHIt8bvm1GJcj5VJsZCcd87yhai9N6FrPGEdGKrAGc92Bth2Y/file')
    script(src='/js/homepage.js')
    script(src='/js/lib/popcorn.min.js')
