extends ../layouts/mainLayout

block navigation
  .home-page
    include ../partials/navBar

block content
  .home-page
    header#header.surge-main
      .overlay
        h1#title interactive
        a(href='signup/index.html')
        button#sign-up signup
      .fullscreen-bg
        video#home-video.fullscreen-bg-video(muted='', autoplay='')
          source#homey(src='/assets/videos/cheer.mp4')
    script(src='/js/homepage.js')
    script(src='/js/lib/popcorn.min.js')
