extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .analytics
    section.canvas
      canvas#myChart(width='2', height='2')
    section.category
      ul
        li Everyone
        li Age
        li Gender
        li Ethnicity
        li Specialty
        li Major
        li Career
        li State
        li Country
  script(src='/js/lib/chart.bundle.min.js')
  script(src='/js/analytics.js')
