extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .analytics
    section.canvas
      canvas#myChart(width='2', height='2')
    section.category
      ul
        li Everyone
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Age
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Gender
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Ethnicity
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Specialty
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Major
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Career
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li State
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
        li Country
          ul.info
            li.people People: 4,234
            li.understanding Understanding Average: 20
            li.conversation Conversation Average: 25
            li.collaboration Collaboration Average: 43
            li.mannerisms Mannerisms Average: 3
            li.eloquence Eloquence Average: 20
            li.honesty Honesty Average: 32
  script(src='/js/lib/chart.bundle.min.js')
  script(src='/js/analytics.js')
