extends ../layouts/mainLayout

block navigation
  include ../partials/navBarCourse

block content
  .analytics
      canvas#myChart(width='400', height='400')
  script(src='/js/lib/chart.bundle.min.js')
  script(src='/js/analytics.js')
