.home-page {

  .container {
    height: 1000px;
    width: auto;
    font-size: 18px;
    background-color: white;
    font-family: 'Lato', sans-serif;
  }

    /*nav*/
    nav.navBar,
      header.surge-main,
      section.surge-courses {
      padding: 0 72px;
    }

    nav ul {
      position: relative;
      z-index: 2;
      height: 70px;
      display: flex;
      list-style-type: none;
      justify-content: flex-start;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 72px;
      background: rgba(134, 92, 45, 0.2);
      border-radius: 500px; 
      width: auto;
    }
      nav ul li {
        position: relative;
        z-index: 3;
        height: 50px;
        line-height: 50px;
        margin: 0 30px;
        text-decoration: none;
        list-style-type: none;
      }

        a {
          text-decoration: none;
          list-style-type: none;
          color: black;
          font-family: 'Lato', sans-serif;
        }
    /*header*/
    .surge-main {
      height: 400px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;
    }
      /*video*/
      video {
        z-index: 1;
        width: auto;
        height: auto;
        position: fixed;
        left: 0;
        bottom: 0;
      }


      .overlay {
        position: relative;
        z-index: 5;
        height: 300px;
        width: 330px;
        color: white;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        font-family: 'Lato', sans-serif;
      }
        #sign-up {
          margin-top: 80px;
          height: 50px;
          width: 150px;
          border-radius: 500px;
          font-size: 18px;
          background-color: rgb(79, 196, 177);
          border: none;
          color: white;
        }

} // ends .home-page
